params {
    input_reads_folder = null
    sra_id = null
    reference = null
    adapters = 'TruSeq3-PE.fa'
    outdir = 'results'
    conda_env = null
    input_csv = null
}

process {
    withName: 'BCFTOOLS_MPILEUP' {
        ext.args2 = '-mv'
    }
}

profiles {
    local{
        process.executor = 'local'
        conda.enabled = true
        process.conda = params.conda_env
        process {
            cpus = 4
            memory = '4 GB'

            withName: assemble {
                cpus = 6
                memory = '10 GB'
            }
        }
    }
    cluster {
        process.executor = 'slurm'
        conda.enabled = true
        process {
            cpus = 8
            memory = '16 GB'
            time = '4h'
            withName: assemble {
                cpus = 16
                memory = '32 GB'
            }
        }
    }
    container {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        process {
            cpus = 4
            memory = '4 GB'
            withName: download_sra     { container = 'rammalex/hw3-sra-tools:1.0' }
            withName: qc_initial       { container = 'rammalex/hw3-fastqc:1.0' }
            withName: qc_trimmed       { container = 'rammalex/hw3-fastqc:1.0' }
            withName: trimm            { container = 'rammalex/hw3-trimmomatic:1.0' }
            withName: assemble         { container = 'rammalex/hw3-spades:1.0'; cpus = 6; memory = '10 GB' }
            withName: map_reads        { container = 'rammalex/hw3-bwa:1.0' }
            withName: coverage         { container = 'rammalex/hw3-samtools:1.0' }
            withName: 'BCFTOOLS_MPILEUP' { container = 'rammalex/hw3-bcftools:1.0' }
            withName: 'SAMTOOLS_FAIDX'   { container = 'rammalex/hw3-bwa:1.0' }
            withName: filter_variants  { container = 'rammalex/hw3-bcftools:1.0' } 
        }
}
}
